@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif ;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     background: linear-gradient(#ffe53bd8, #ff2525da);

}



.block{
    display: flex;
    flex-direction: column;
    margin: 20px;
   align-items: center;
   font-weight: 800;
   background-color: #1F130E;
   height: 110px;
   width: 100px;
   padding: 40px;
   padding-top: 20px;
   border-radius: 7px;
   color: aliceblue;
}

.container{
    display: flex;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 250px;
    border: none;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

#horas{
    margin-bottom: 10px;
    font-size: 30px;
}

#minutos{
    margin-bottom: 10px;
    font-size: 30px;
}

#segundos{
    margin-bottom: 10px;
    font-size: 30px;
}